.content_container{
	height: 1000px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-content: center;
	align-items: center;
}
.about_title{
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 28px;
	color: #00000099;
	margin-bottom: 25px;
}
.about_description{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #000;
}
