header{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-around;
	align-items: center;
	background: rgb(243 137 0 / 27%);
	border-bottom: #00000025 2px solid;
}
.header_logo__img{
	width: 250px;
	height: 65px;
	margin: 10px;
}
.header_menu_points{
	display: flex;
}
.header_menu_points__point{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	margin: 10px;
	color: #00000099;
	position: relative;
	cursor: pointer;
	text-decoration: none;
}
.header_menu_points__point:after{
	content: "";
	display: block;
	position: absolute;
	right: 0;
	bottom: -3px;
	width: 0;
	height: 2px;
	background-color: #00000099;
	transition: width 0.5s;
}
.header_menu_points__point:hover:after {
	content: "";
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 2px;
	background-color: #00000099;
	transition: width 0.5s;
}
* {box-sizing: border-box;}
.header_menu_search__form{
	position: relative;
	width: 300px;
	margin: 0 auto;
}
.header_menu_search__input{
	width: 100%;
	height: 42px;
	padding-left: 10px;
	border: 2px solid rgb(255 134 49 / 22%);
	border-radius: 5px;
	outline: none;
	background: #ece3edb0;
	color: #000;
}
.header_menu_search__button {
	position: absolute;
	top: 0;
	right: 0;
	width: 42px;
	height: 42px;
	border: none;
	background: rgb(255 134 49 / 50%);
	border-radius: 0 5px 5px 0;
	cursor: pointer;
}
.header_menu_search__button:before {
	content: "\1F50D";
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #F9F0DA;
}
.header_user_menu{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
}
.header_user_menu_photo__img{
	width: 40px;
	height: 40px;
	border-radius: 30px;
	margin-right: 10px;
}
.header_user_menu_fio_name__a,.header_user_menu_fio_surname__a{
	text-decoration: none;
}
.header_user_menu_fio_name,.header_user_menu_fio_surname{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #00000099;
}
.content{
	background:rgb(255 134 49 / 22%);
}